# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# key and conf from running this on a dev machine should not be checked in
privkey.hex
vertcoin.conf
host/server/static/
releases/
chainstate.hex
wallet.db
/vertcoin
/cmd/vertcoin/vertcoin
packrd
nodes/
client/rcc*